.charAxesArea {
	width: 14.5rem;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	
}
.chartAxis {
	flex: 1;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	/* text-align: left; */
}

.chartAxisHeader{
	position: sticky;
}

.chartAxisBody{
	flex: 1;
	/* overflow-y: hidden; */
	/* display: flex; */
	flex-direction: column;
	max-height: auto;
	min-height: 6em;
	/* max-height: 100rem; */
	/* min-height: 100em; */

}

.axisTitle {
	/* background-color: #d3d3d3; */
	color: #404040;
	font-weight: 600;
	padding: 0 0.5rem;
	border-top: 2px solid #d3d3d3;
}

.axisInfo {
	font-size: 11px;
	color: #999999;
	padding: 2px 0;
}
