#container1 {
	height: auto;
	width: 400px;
	margin: 8rem auto;
	border-radius: 3px;
	padding: 20px;
	border:2px solid #a9a9a9;
	color:#5d5c5c
}
#formElement {
	display: grid;
	grid-template-rows: 70% auto;
	row-gap: 5px;
	margin: 10px;
}
.bgImage{
	background-image: url("../../assets/silzila_transparent_peacock.png");
		background-size: cover;
		background-position: center;
		background-color: transparent;
		height:100vh;
		justify-content: space-around;
		align-items: center;
		display: flex;
		
}
#error {
	color: red;
	font-size: 13px;
}
.inputElement {
	height: 30px;
	border-radius: 3px;
	border: 1px solid black;
	width: 70%;
	margin: 1px auto;
	padding: 10px;
	background-color: transparent;
}

#loginSignupButton {
	background-color: #2bb9bb;
	width: 40%;
	margin: 10px;
}
