* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
.container-login {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 100vh;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
}

.login-box {
  width: 350px;
  padding: 25px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  color: #a09c9c;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 5px;
  font-family: Axiforma Black, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, sans-serif;
}
.tab-button:not(.active):hover {
  color: transparent;
  background: linear-gradient(to right, #af99db, #2bb9bb);
  -webkit-background-clip: text;
  background-clip: text;
}

.tab-button.active {
  color: #2bb9bb;
  font-weight: bold;
}

.tab-button.active::after {
  content: "";
}

.login-box h3 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 1.4rem;
  color: #616164;
  font-family: Axiforma Heavy; /*, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;*/
}

form {
  display: flex;
  flex-direction: column;
  /* font-family: Axiforma Light; , system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif; */
}

.side-by-side {
  display: flex;
  justify-content: space-between;
}

.side-by-side input {
  width: 48%;
}

.input-style {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 7px;
  background-color: white;
  font-family: Axiforma Light, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, sans-serif;
}

/* input:focus {
  border: 1px solid #2bb9bb;
  outline: #2bb9bb;
} */

.button-tab {
  padding: 10px;
  border: none;
  background: #2bb9bb;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Axiforma Black, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, sans-serif;
}

/* Signin Lofin Button */
.business-signin-login-button-container {
  width: 100%;
  border: 1px solid transparent;
}
.community-signin-login-button {
  padding: 10px;
  border: none;
  background: #2bb9bb;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  width: 100%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Axiforma Black, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, sans-serif;
}

.button-tab:hover,
.community-login-button:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.error {
  color: #d32f2f;
  font-size: 14px;
}




@media (max-width: 820px) {
  .container-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    overflow-y: hidden;
    margin-top: 10rem;
    margin-bottom: 7rem;
    transition: all 0.3s ease ease-in-out;
  }
}

@media (max-width: 380px) {
  .container-login{
    overflow-x: hidden;
  }
}