*{
  font-family: "Roboto-Regular", "Roboto-Medium", "Roboto-Bold", "Roboto-Light",
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
}
.dashboardWrapper {
  flex: 1;
  display: flex;
  background-color: #eee;
  overflow: hidden;
}

.dashboardOuter {
  box-sizing: border-box;
  background-color: #fff;
  flex: 1;
  overflow: hidden;
  margin-left: 5px;
}

.dashboardArea {
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  border-top: none;
  overflow: hidden;
}

.dashBoardSideBar {
  width: 15.625rem;
  height: 100%;
  border-left: 2px solid rgba(224, 224, 224, 1);
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-right: 6px;
  padding-left: 6px;
}

.tileListContainer {
  flex: 1;
}

.dashboardLayoutControl {
  flex: 1;
  /* border: 1px solid red; */
}

.listOfGraphs {
  display: flex;
  margin: 5px 5px;
  /* background-color: rgba(246, 246, 246); */
  border: 1px solid rgb(224, 224, 224, 1);
  border-radius: 2px;
  line-height: 1.5rem;
  color: #606060;
}

.listOfGraphsHighlighted {
  display: flex;
  margin: 5px 5px;
  background-color: #fff;
  border: 1px solid #0076f6;
  line-height: 1.5rem;
  color: #606060;
}

.graphCheckBox {
  margin: 5px;
}

.themeSelector {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  padding-inline: 0.5rem;
}

.checkboxOption {
  margin: 5px 0;
}

.checkboxOption input {
  margin-right: 10px;
}

.dragHeader {
  font-weight: 600;
  color: #929292;
  /* border-bottom: 1px solid rgb(211, 211, 211); */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
}

.dragHeader:hover {
  border-bottom: 1px solid rgb(211, 211, 211);
}

.dashChart {
  width: 100%;
  flex: 1;
}

.rndObject {
  box-sizing: border-box;
  /* border: 1px #fff solid; */
  width: 100%;
  height: 100%;
  /* display: flex;
    flex-direction: column; */
  overflow: auto;
  box-sizing: border-box;
  
}


/* Style the container */
.checkboxOption {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 15px;
}

/* Hide the default radio button */
.customRadio {
  display: none;
}

/* Style the label to act as a custom radio button */
.customLabel {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

/* Create the custom radio circle */
.customLabel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 2px solid #616164;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease;
}

/* Inner circle when selected */
.customLabel::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translate(-32%,-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
}

/* Change color of the custom radio when checked */
.customRadio:checked + .customLabel::before {
  border-color: #2bb9bb;
}

.customRadio:checked + .customLabel::after {
  background-color: #2bb9bb;
}
