/* 
===================================================
Data Setup Page
=================================================== 
*/

.dataHome {
	display: flex;
	height: 100vh;
	flex-direction: column;
	/* background-color: rgb(238, 238, 238); */
}

.dataSetup {
	width: 100%;
	flex: 1;
	padding: 2rem;
	overflow: hidden;
	max-width: 1400px;
	margin: auto;
	display: flex;
	border-top: 2px solid rgba(224, 224, 224, 1)
}

.dcds {
	flex: 1;
	display: flex;
	flex-direction: column;
	/* margin-right: 1rem; */
	overflow: hidden;
	justify-content: space-between;
	padding-right: 1rem;
	border-right: 2px solid rgba(224, 224, 224, 1)
}

.dataConnectionContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #fff;
	padding: 1rem 10rem;
	overflow: auto;
	gap: 10px
}

.dataSetContainer {
	flex: 3;
	padding: 1rem 10rem;
	border-radius: 0.5rem;
	background-color: #fff;
	overflow: auto;
	display: flex;
	flex-direction: column;
	height: 400px
}

.listContainer {
	height: 100%;
	overflow-y: scroll;
}

.connectionListContainer {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-left: 0.8rem;
}

.connectionListContainer:hover {
	overflow: auto;
}

.dashboardsContainer {
	flex: 1;
	/* margin-left: 1rem; */
	padding: 1rem 10rem;
	border-radius: 0.5rem;
	background-color: #fff;
}

.containersHead {
	display: flex;
	font-weight: 600;
	padding-left: 10px;
	padding-right: 10px;

}

.containerTitle {
	display: flex;
	align-items: center;
	margin-right: 1rem;
	flex: 1;
}

.containerButton {
	border: 1px solid #2bb9bb;
	background-color: transparent;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	border-radius: 3px;
	color: #2bb9bb;
	height: 30px;
	padding: 2.5px 20px;
	font-size: 16px;
	cursor: pointer;

}


.containerButton:hover {
	background-color: #2bb9bb;
	border: 1px solid #2bb9bb;
	color: white;
}

/* 
===================================================
Data Connections
=================================================== 
*/

.dbFormContainer {
	padding: 10px;
	width: 400px
}

.dbForm {
	align-items: center;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.dbFormTitle {
	display: grid;
	grid-template-columns: 95% 5%;
	text-align: center;
	width: 100%;
	color: #5d5c5c;
}

.dbConnectionErrorText {
	color: red;

}

.dbFormButton {
	margin: 10px auto;
	display: flex;
	column-gap: 40px;
}

.dbDeleteDialog {
	display: flex;
	flex-direction: column;
	padding: 5px;
	width: 350px;
	height: auto;
	justify-content: center;
}

.dbDeleteDialogMsg {
	font-weight: bold;
	text-align: center;
	margin-top: 20px
}

.dbDeleteDialogBtnContainer {
	display: flex;
	padding: 15px;
	justify-content: space-around;
}

.dbDeleteDialogBtn1 {
	background-color: grey;
	float: right;
	text-transform: none;
}

.dbDeleteDialogBtn2 {
	background-color: red;

	text-transform: none;
}

.dataConnectionList {
	margin: 8px 5px 0 0;
	/* background-color: rgb(250, 250, 250); */
	border-radius: 5px;
	display: flex;
	padding: 5px 20px 5px 30px;
	border: 1px solid rgba(224, 224, 224, 1);
	color: rgb(101, 101, 101);
}

.dataConnectionListSelected {
	margin: 8px 5px 0 0;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	padding: 5px 20px 5px 30px;
	border: 1px solid #7b63a6;
	cursor: pointer;
	color: #7b63a6;
}

.dataHomeDeleteIcon {
	width: 1.5rem;
	margin-right: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #7b63a6;
}

.dataHomeDeleteIcon:hover {
	color: red;
	/* background-color: rgb(238, 238, 238); */
}

.dataConnectionName {
	flex: 1;
	text-align: left;
}

.inputFieldStyle {
	margin-top: 25px;
}

.formTF {
	height: 35px;
	padding: 5px;
	font-size: 14px;
	margin: 10px;
}

/* 
===================================================
Datasets
=================================================== 
*/

.createDatasetPage {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

.sidebar {
	width: 16rem;
	/* background-color: rgb(238, 238, 238); */
	border-right: 2px solid rgba(224, 224, 224, 1);
	padding: 1rem;
	border-top: 2px solid rgba(224, 224, 224, 1)
		/* overflow-y: auto; */
		/* overflow-x: hidden; */
}

.selectBar {
	border-radius: 5px;
	background-color: white;
	margin-bottom: 1.5rem;
	text-align: left;
}

.sidebarHeading {
	font-weight: bold;
	font-size: 12px;

	margin: 0 0 0 0.5rem;
	text-align: left;
}

.sidebarHeading::first-child {
	padding-top: 0.5rem;
}

.tableListStyle {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 5px;
	padding: 2px;
	font-size: 14px;
}

.tableListStyle:hover {
	box-shadow: 0 0 2px 2px #c9c9c9;
	border-radius: 5px;
	background-color: white;
}

.selectTableInput {
	margin: auto 5px;
	height: 6px;
	width: 6px;
}

.tableIcon {
	margin: auto 5px;
	height: 15px;
	width: 15px;
}

.tableName {
	margin: auto 5px;
	flex: 1;
	text-align: left;
	align-items: center;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.vendorIconStyle {
	height: 25px;
	width: 25px;
	margin-right: 10px;
}

/* 
-------------------------------------------------
DashboardList
------------------------------------------------- 
*/

/* 
-------------------------------------------------
TableData
------------------------------------------------- 
*/

#TRow:nth-child(even) {
	background-color: rgb(245, 245, 245);
}

#TColumn {
	/* padding: 3px;
	height: 28px; */
	padding: 0px 16px 0 16px;
	height: 28px;
	text-overflow: ellipsis;
	white-space: nowrap;
}