/* 
===================================================
Data Setup Page
=================================================== 
*/

.dataHome {
	display: flex;
	height: 100vh;
	flex-direction: column;
	background-color: rgb(238, 238, 238);
}

.dataSetup {
	width: 100%;
	flex: 1;
	padding: 2rem;
	overflow: hidden;
	max-width: 1400px;
	margin: auto;
	display: flex;
}

.dcds {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-right: 1rem;
	overflow: hidden;
}

.dataConnectionContainer {
	flex: 2;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: #fff;
	margin-bottom: 2rem;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.dataSetContainer {
	flex: 3;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: #fff;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.connectionListContainer {
	display: flex;
	flex-direction: column;
	overflow:hidden
}

.connectionListContainer:hover{
	overflow: auto;
}

.dashboardsContainer {
	flex: 1;
	margin-left: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: #fff;
}

.containersHead {
	/* width: 100%; */
	padding-bottom: 1rem;
	font-weight: 600;
	display: flex;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid rgb(192, 192, 192);
}

.containerTitle {
	display: flex;
	align-items: center;
	margin-right: 1rem;
	flex: 1;
}
.containerButton {
	border: 1px solid rgb(192, 192, 192);
	background-color: transparent;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	border-radius: 3px;
	color: #666;
	height: 35px;
	padding: 0 25px;
	font-size: 16px;
	cursor: pointer;
}

.containerButton:hover {
	background-color: #fff;
	border: 1px solid rgb(0, 123, 255);
	color: rgb(0, 123, 255);
}

/* 
===================================================
Data Connections
=================================================== 
*/

.dataConnectionList {
	margin: 8px 5px 0 0;
	background-color: rgb(250, 250, 250);
	border-radius: 5px;
	display: flex;
	padding: 5px 20px;
	border: 1px solid rgb(238, 238, 238);
}

.dataConnectionListSelected {
	margin: 8px 5px 0 0;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	padding: 5px 20px;
	border: 1px solid rgb(0, 123, 255);
	cursor: pointer;
	color: rgb(0, 123, 255);
}

.dataHomeDeleteIcon {
	width: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #666;
}

.dataHomeDeleteIcon:hover {
	color: red;
	background-color: rgb(238, 238, 238);
}

.dataConnectionName {
	flex: 1;
	text-align: left;
}

.inputFieldStyle {
	margin-top: 25px;
}

.formTF {
	height: 35px;
	padding: 5px;
	font-size: 14px;
	margin: 10px;
}

/* 
===================================================
Datasets
=================================================== 
*/

.createDatasetPage {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

.sidebar {
	width: 16rem;
	background-color: rgb(238, 238, 238);
	border-right: 1px solid #e4e4e4;
	padding: 1rem;
	/* overflow-y: auto; */
	/* overflow-x: hidden; */
}

.selectBar {
	border-radius: 5px;
	background-color: white;
	margin-bottom: 1.5rem;
	text-align: left;
}

.sidebarHeading {
	font-weight: bold;
	font-size: 12px;

	margin: 0 0 0 0.5rem;
	text-align: left;
}

.sidebarHeading::first-child {
	padding-top: 0.5rem;
}

.tableListStyle {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 5px;
	padding: 2px;
	font-size: 14px;
}
.tableListStyle:hover {
	box-shadow: 0 0 2px 2px #c9c9c9;
	border-radius: 5px;
	background-color: white;
}
.selectTableInput {
	margin: auto 5px;
	height: 6px;
	width: 6px;
}
.tableIcon {
	margin: auto 5px;
	height: 15px;
	width: 15px;
}
.tableName {
	margin: auto 5px;
	flex: 1;
	text-align: left;
	align-items: center;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
/* 
-------------------------------------------------
DashboardList
------------------------------------------------- 
*/

/* 
-------------------------------------------------
TableData
------------------------------------------------- 
*/

#TRow:nth-child(even) {
	background-color: rgb(245, 245, 245);
}

#TColumn {
	/* padding: 3px;
	height: 28px; */
	padding: 0px 16px 0 16px;
		height: 28px;
		text-overflow: ellipsis;
		white-space: nowrap;
}
