.dashboardWrapper {
    flex: 1;
    display: flex;
    background-color: #eee;
    overflow: hidden;
}

.dashboardOuter {
    box-sizing: border-box;
    background-color: #fff;
    flex: 1;
    overflow: hidden;
    margin-left: 5px;
}

.dashboardArea {
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    border-top: none;
    overflow: hidden;
}

.dashBoardSideBar {
    width: 15rem;
    height: 100%;
    border-left: 2px solid rgba(224,224,224,1);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-right:6px;
    padding-left: 6px;
}

.tileListContainer {
    flex: 1;
}

.dashboardLayoutControl {
    flex: 1;
}

.listOfGraphs {
    display: flex;
    margin: 5px 5px;
    /* background-color: rgba(246, 246, 246); */
    border: 1px solid rgb(224, 224, 224,1);
    border-radius: 2px;
    line-height: 1.5rem;
    color: #606060;
}

.listOfGraphsHighlighted {
    display: flex;
    margin: 5px 5px;
    background-color: #fff;
    border: 1px solid #0076f6;
    line-height: 1.5rem;
    color: #606060;
}

.graphCheckBox {
    margin: 5px;
}

.dragHeader {
    font-weight: 600;
    color: #929292;
    border-bottom: 1px solid rgb(211, 211, 211);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashChart {
    width: 100%;
    flex: 1;
}

.rndObject {
    box-sizing: border-box;
    border: 1px #fff solid;
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    overflow: auto;
    box-sizing: border-box;
}